{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
Ciao {{ user.username }}!
<form action="{% url 'logout' %}" method="post">
    {% csrf_token %} 
    <button type="submit">Logout</button>
</form>

<h3>Le tue sottoscrizioni:</h3>
<ul>
    {% for subscription in subscriptions %}
    <li>
        {{ subscription.name }} - Inizio: {{ subscription.start_date }} - Fine: {{ subscription.end_date }}
        <a href="{% url 'subscription_detail' subscription.id %}" class="btn btn-info btn-sm" title="Dettagli"></a>
            <i class="fas fa-info-circle"></i>
        </a>
        {% if subscription.admin == user %}
            <a href="{% url 'edit_subscription' subscription.id %}" class="btn btn-warning btn-sm" title="Modifica">
                <i class="fas fa-edit"></i>
            </a>
            <form action="{% url 'delete_subscription' subscription.id %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btn-sm" title="Elimina">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </form>
        {% endif %}
    </li>
    {% empty %}
    <li>Nessuna sottoscrizione attiva.</li>
    {% endfor %}
</ul>
<button id="showFormBtn" class="btn btn-primary mb-3">Aggiungi sottoscrizione</button>

<div id="subscriptionFormContainer" class="card p-3" style="display:none;">
    <form id="subscriptionForm" method="post" action="{% url 'create_subscription' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="name" class="form-label">Nome:</label>
            <input type="text" id="name" name="name" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="start_date" class="form-label">Inizio:</label>
            <input type="date" id="start_date" name="start_date" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="renew_period" class="form-label">Periodo di rinnovo (in mesi):</label>
            <input type="number" id="renew_period" name="renew_period" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Prezzo (€):</label>
            <input type="number" id="price" name="price" class="form-control" step="0.01" min="0" required>
        </div>
        <button type="submit" class="btn btn-success">Crea</button>
    </form>
</div>

<script>
document.getElementById('showFormBtn').addEventListener('click', function() {
    var formContainer = document.getElementById('subscriptionFormContainer');
    formContainer.style.display = formContainer.style.display === 'none' ? 'block' : 'none';
});
</script>

{% else %}
<p>You are not logged in</p>
<a href="{% url 'login' %}">Log In</a>
{% endif %}
{% endblock %}